body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-primary-dark);
    line-height: 1.6;
}

span {
    color: var(--color-accent);
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--spacing-lg);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: var(--color-dark);
    padding: var(--spacing-md) var(--spacing-lg);
    border-bottom: 1px solid var(--color-dark);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.header--fixed {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.header__nav {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text);
}

.header__menu {
    display: flex;
    gap: var(--spacing-lg);
}

.header__menu a {
    font-weight: 500;
    color: var(--color-text);
    transition: 0.3s;
    
}

.header__menu a:hover {
    color: var(--color-accent);
    
}

.hero {
    padding: var(--spacing-x1) var(--spacing-lg);
    text-align: center;
    background: linear-gradient(
        180deg,
        var(--color-dark),
        var(--color-secundary)
    );
}

.hero__title {
    font-size: 2.5rem;
    max-width: 700px;
    margin: 0 auto var(--spacing-md);
    color: var(--color-text);
}

.hero__subtitle {
    font-size: 1.25rem;
    color: var(--color-text);
    max-width: 600px;
    margin: 0 auto var(--spacing-lg);
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-md);
    font-weight: 600;
    background-color: var(--color-accent);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: background 0.3 ease;
}


.button--primary {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button--primary:hover {
    transform: translateY(-5px);
    background: var(--color-details)
}

.benefits {
    padding: var(--spacing-x1) var(--spacing-lg);
}

.benefits__list {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.benefit-card {
    background: linear-gradient(
    180deg,
    var(--color-dark),
    var(--color-secundary)
    );
    padding: var(--spacing-lg);
    border-radius: var(--spacing-md);
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)
}

.benefit-card h3 {
    margin-bottom: var(--spacing-sm);
    color: var(--color-text);
}

.benefit-card p {
    color: var(--color-text);
}

/* Depoimentos */

.testimonials {
    padding: var(--spacing-x1) var(--spacing-lg);
    background-color: var(--color-secundary);
}

.testimonials__list {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.testimonial-card {
    background-color: var(--color-dark);
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.testimonial-card:hover {
 border: 1px solid var(--color-accent);
}

.testimonial-card__avatar {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 3px solid var(--color-accent);
}

.testimonial-card p {
    margin-bottom: var(--spacing-sm);
    color: var(--color-text);
}

.testimonial-card span {
    font-weight: 600;
}

/* Planos */

.pricing {
    padding: var(--spacing-lg) var(--spacing-lg);
}

.pricing__list {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.pricing-card {
    background-color: var(--color-dark);
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.pricing-card:hover {
    transform: translateY(-5px);
    border: 1px solid var(--color-accent);
}

.pricing-card h3 {
    margin-bottom: var(--spacing-sm);
}

.price {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

.pricing-card ul {
    margin-bottom: var(--spacing-md);
    color: var(--color-primary);
}

.pricing-card li {
    margin-bottom: var(--spacing-sm);
}

.button__plan {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-md);
    font-weight: 600;
    background-color: var(--color-accent);
    transition: background 0.3s ease;
}

.button__plan:hover {
    background: var(--color-details);
}

.payment-info {
    background: linear-gradient(
        360deg,
        var(--color-dark),
        var(--color-secundary)
    );
    padding: var(--spacing-md), var(--spacing-md);

    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-lg);

    color: var(--color-text);
    text-align: center;
}

.payment-info__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.payment-info__item img {
    width: var(--spacing-md);
    height: var(--spacing-md);
}

.payment-info__sub {
    width: 100%;
    margin-top: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

/* Comunidade */

.community {
    padding: 6rem 1.5rem;
    background: linear-gradient(
    360deg,
    var(--color-dark),
    var(--color-secundary)
    );
    color: var(--color-text);
}

.community__container {
    max-width: 1100px;
    margin: 0 auto;
}

.community__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: var(--spacing-lg);
}

.community__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.community__card {
    background: var(--color-dark);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;

    padding: var(--spacing-lg);

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    transition: transform 0.3s ease, border 0.3s ease;
}

.community__card:hover {
    transform: translateY(-4px);
    border-color: var(--color-accent);
}

.community__icon {
    font-size: 1.4rem;
}

.community__card h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.community__card p {
    font-size: 0.95rem;
    opacity: 0.8;
}

.community__button {
    margin-top: auto;

    display: inline-flex;
    align-items: center;

    background: var(--color-accent);

    padding: 0.75rem 1.5rem;
    border-radius: 8px;

    font-size: var(--spacing-md);
    text-decoration: none;

    transition: background 0.3s ease;
}

.community__button:hover {
    background: var(--color-details);
}


/* Fechamento */

.cta {
    padding: var(--spacing-x1) var(--spacing-lg);
    background: linear-gradient(
    180deg,
    var(--color-dark),
    var(--color-secundary)
    );
    text-align: center;
    color: var(--color-text);
}

.cta h2 {
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

/* Footer */

footer {
    text-align: center;
}


@media (min-width: 768px) {
    .benefit__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero__title {
        font-size: 3rem;
    }

    .testimonials__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing__list {
        grid-template-columns: repeat(2, 1fr);
    }
}