body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-primary-dark);
    line-height: 1.6;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--spacing-lg);
}

.header {
    background-color: var(--color-dark);
    padding: var(--spacing-md) var(--spacing-lg);
    border-bottom: 1px solid var(--color-dark);
}

.header__nav {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-white);
}

.header__menu {
    display: flex;
    gap: var(--spacing-lg);
}

.header__menu a {
    font-weight: 500;
    color: var(--color-white);
    transition: 0.3s;
    
}

.header__menu a:hover {
    text-decoration: underline;
    
}

.hero {
    padding: var(--spacing-x1) var(--spacing-lg);
    text-align: center;
    background: linear-gradient(
        180deg,
        var(--color-dark),
        var(--color-secundary)
    );
}

.hero__title {
    font-size: 2.5rem;
    max-width: 700px;
    margin: 0 auto var(--spacing-md);
    color: var(--color-text);
}

.hero__subtitle {
    font-size: 1.25rem;
    color: var(--color-text);
    max-width: 600px;
    margin: 0 auto var(--spacing-lg);
}

.button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-md);
    font-weight: 600;
    background-color: var(--color-dark);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.button--primary {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button--primary:hover {
    transform: translateY(-5px);
}

.benefits {
    padding: var(--spacing-x1) var(--spacing-lg);
}

.benefits__list {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.benefit-card {
    background: linear-gradient(
    180deg,
    var(--color-dark),
    var(--color-secundary)
    );
    padding: var(--spacing-lg);
    border-radius: var(--spacing-md);
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2)
}

.benefit-card h3 {
    margin-bottom: var(--spacing-sm);
    color: var(--color-text);
}

.benefit-card p {
    color: var(--color-text);
}

/* Depoimentos */

.testimonials {
    padding: var(--spacing-x1) var(--spacing-lg);
    background-color: var(--color-secundary);
}

.testimonials__list {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.testimonial-card {
    background-color: var(--color-dark);
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
}

.testimonial-card__avatar {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 3px solid var(--color-white);
}

.testimonial-card p {
    margin-bottom: var(--spacing-sm);
    color: var(--color-text);
}

.testimonial-card span {
    font-weight: 600;
    color: var(--color-text);
}

/* Planos */

.pricing {
    padding: var(--spacing-x1) var(--spacing-lg);
}

.pricing__list {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.pricing-card {
    background-color: var(--color-dark);
    padding: var(--spacing-lg);
    border-radius: var(--radius-md);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card h3 {
    margin-bottom: var(--spacing-sm);
}

.price {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

.pricing-card ul {
    margin-bottom: var(--spacing-md);
    color: var(--color-primary);
}

.pricing-card li {
    margin-bottom: var(--spacing-sm);
}

.button__plan {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius-md);
    font-weight: 600;
    background-color: var(--color-primary-dark);
}

/* Fechamento */

.cta {
    padding: var(--spacing-x1) var(--spacing-lg);
    background: linear-gradient(
    180deg,
    var(--color-dark),
    var(--color-secundary)
    );
    text-align: center;
    color: var(--color-text);
}

.cta h2 {
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

/* Footer */

footer {
    text-align: center;
}


@media (min-width: 768px) {
    .benefit__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero__title {
        font-size: 3rem;
    }

    .testimonials__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing__list {
        grid-template-columns: repeat(2, 1fr);
    }
}