:root {
/* Paleta principal */    
--color-primary-dark: #03121F;
--color-secundary: #01121F;
--color-dark: black;
--color-accent: #8b5cf6;
--color-details: #a6a6a6;

/* Neutros*/   
--color-text: #ebfcff;
--color-white: #F3F4F4;

/* Tipografia */
--font-primary: 'Inter', sans-serif;

/* Espaçamentos */
--spacing-sm: 0.5rem;
--spacing-md: 1rem;
--spacing-lg: 2rem;
--spacing-x1: 4rem;

/* Bordas */
--radius-sm: 0.25rem;
--radius-md: 0.5rem;
}
